<nav class="navbar navbar-expand-lg navbar-dark  headerTheme nav1">
    <span class="navbar-brand nav-link">
        <!-- <img width="50px" height="50px" src="{{assetPath}}/images_and_logos/cdac_logo.png" alt="C-DAC Logo"> -->
        <img width="100px" height="50px" src="{{assetPath}}/logo/logo.png" alt="Art D3 Logo">
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        <!-- <span class="headingdesign">{{heading}}</span> -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{'nav-item-active': (( currentComponent  === '') || (currentComponent  == 'layout')  )}">

                    <i class="fa fa-pie-chart colo1" aria-hidden="true"></i> Tree Chart
                </a>

                <div class="dropdown-menu drpd" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="navigation('')" href="#/"
                        [ngClass]="{'nav-item-active': currentComponent  == ''}"><i
                            class="fa fa fa-home icon-col"></i>&nbsp;Vertical Tree</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="navigation('layout')"
                        href="#/layout"
                        [ngClass]="{'nav-item-active': currentComponent  == 'layout'}"><i
                            class="fa fa-pie-chart icon-col"></i>&nbsp;Horizontal tree</a>
                    <div *ngIf="userType != 'user' " class="dropdown-divider"></div>
                    <a *ngIf="userType != 'user' " class="dropdown-item" (click)="navigation('circle')"
                        href="#/circle" [ngClass]="{'nav-item-active': currentComponent  == 'cicle'}"><i
                            class="fa fa-pie-chart icon-col"></i>&nbsp;Circle Tree</a>


                </div>


            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" (click)="navigation('threatMap')" href="#/dashboard/threatMap"
                    [ngClass]="{'nav-item-active': currentComponent  == 'threatMap'}"><i class="fa fa-map-marker colo1"
                        aria-hidden="true"></i> Threat Map<span class="sr-only">(current)</span></a>
            </li> -->

            </ul>
        <ul class="navbar-nav mr-right">
            <li class="nav-item active">
                <!-- <a class="nav-link notification" routerLink="/notifications"
                    [ngClass]="{'nav-item-active': currentComponent  == 'notifications'}"> <i class="fa fa-bell colo2"
                        aria-hidden="true"></i> <span class="button__badge"
                        *ngIf="notificationCount">{{notificationCount}}</span>
                </a> -->
            </li>
            <li class="nav-item dropdown">
                <!-- <a class="nav-link  active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    [ngClass]="{'nav-item-active': ((currentComponent  == 'usermanagement') || (currentComponent  == 'userSession') || (currentComponent  == 'Profile') || (currentComponent  == 'register'))}"
                    aria-haspopup="true" aria-expanded="false">
                    {{ username }}

                </a> -->
                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            [ngClass]="{'nav-item-active': currentComponent  == 'Profile'}"
                            (click)="navigation('Profile')" href="#/dashboard/Profile"><i
                                class="fa fa-users icon-col"></i>&nbsp; Profile</a>

                    <div *ngIf="userType != 'user' " class="dropdown-divider"></div>
                    <a *ngIf="userType != 'user' " class="dropdown-item"
                        [ngClass]="{'nav-item-active': currentComponent  == 'usermanagement'}"
                        (click)="navigation('usermanagement')" href="#/dashboard/usermanagement"><i
                            class="fa fa-users icon-col"></i>&nbsp; Users</a>
                    <div *ngIf="userType != 'user' " class="dropdown-divider"></div>
                    <a *ngIf="userType == 'superadmin' " class="dropdown-item"
                        [ngClass]="{'nav-item-active': currentComponent  == 'userHoneypotDetails'}"
                        (click)="navigation('userHoneypotDetails')" href="#/dashboard/userHoneypotDetails"><i
                            class="fa fa-users icon-col"></i>&nbsp; User Honeypot Details</a>
                    <div *ngIf="userType == 'superadmin' " class="dropdown-divider"></div>
                    <a *ngIf="userType != 'user' " class="dropdown-item"
                        [ngClass]="{'nav-item-active': currentComponent  == 'userSession'}"
                        (click)="navigation('userSession')" href="#/dashboard/userSession"><i
                            class="fa fa-user-secret icon-col"></i>&nbsp; Users Session</a>
                    <div class="dropdown-divider"></div>
                  
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out icon-col"></i>&nbsp;
                        Logout</a>

                </div> -->
            </li>
        </ul>
    </div>

</nav>